@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
